/* 1. 초기화 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* 3. 리스트 스타일 제거 */
ul,
ol {
  list-style: none;
}

/* 4. 버튼 스타일 초기화 */
button {
  all: unset;
  cursor: pointer;
}

/* 5. 링크 스타일 초기화 */
a {
  text-decoration: none;
  color: inherit;
}

/* 6. 기본 폰트 및 색상 */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 19px;
}

.header button {
  width: 40px;
  height: 40px;
}

.header button img {
  width: 100%;
  height: 100%;
}

.header h1 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.41px;
  line-height: 22px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 3.5px;
  margin-top: 10px;
}

.team-selector {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 9px;
  gap: 14.59px;
}

.team-selector button {
  flex: 1;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #636a84;
  font-weight: 500;
  font-size: 1.125rem;
  transition: background-color 0.5s;
}

.team-selector button.active {
  background-color: #ff5470;
  border: 2px solid #ff352b;
  color: #fff;
}

.lineup-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 9px;
}

.lineup-table .info-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 0 30px;
}

.lineup-table .info-title span {
  width: 45px;
  font-weight: 500;
  font-size: 0.875rem;
  text-align: left;
}

.lineup-table .lineup-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 9px;
  margin-top: 9px;
}

.lineup-table .lineup-col .player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 30px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.lineup-table .lineup-col .player.set {
  background-color: #ff5470;
  border: 2px solid #ff352b;
}

.lineup-table .lineup-col .player.focused {
  border: 2px solid #ff352b;
}

.lineup-table .lineup-col .player.pitcher {
  border: 2px solid #b5c8ce;
}

.lineup-table .lineup-col .player span {
  min-width: 45px;
  font-weight: 500;
  font-size: 1rem;
  color: #040e36;
  white-space: nowrap;
}

.lineup-table .lineup-col .player span:nth-child(2),
.lineup-table .lineup-col .player span:nth-child(3) {
  text-align: center;
}

.lineup-table .lineup-col .player.set span {
  color: #fff;
}

.select-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 8.5px;
}

.select-form .select-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  /* padding: 0 16.5px; */
}

.select-form .select-title span {
  flex: 1;
  font-weight: 500;
  font-size: 0.875rem;
  text-align: center;
  color: #636a84;
}

.select-form .select-container {
  display: flex;
  gap: 1px;
  margin-top: 9px;
}

.select-form .select-container .select-col {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1px;
}

.select-form .select-container .select-col .select-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  border: 1px solid #00000017;
  border-radius: 6px;
  background-color: #fff;
  font-weight: 600;
  font-size: 0.6875rem;
  letter-spacing: -2%;
  color: #4a4340;
  box-shadow: 0px -1px 0.75px 0px #05050526 inset, 0px 1px 3px 0px #00000014;
  cursor: pointer;
  transition: all 0.5s;
}

.select-form .select-container .select-col .select-item.focused {
  background-color: #ff5470;
  border: 1px solid #ff352b;
  color: #ffffff;
  text-shadow: 0px 1px 3px #df571d;
  box-shadow: 0px 1px 3px 0px #0000001a, 0px 1px 0.75px 0px #ffffff1f inset;
}

.select-form .select-container .select-col .select-item.position.focused {
  background-color: #ff9500;
  border: 1px solid #e88800;
  color: #fff;
  text-shadow: 0px 1px 3px #df571d;
}

.select-form .select-container .select-col .select-item.selected {
  background-color: #b5c8ce;
  border: 1px solid #9aa9ad;
  color: #fff;
  box-shadow: 0px 1px 3px 0px #0000001a, 0px 1px 0.75px 0px #ffffff1f inset;
}

.send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 56px;
  gap: 8px;
  background-color: #4074d8;
  border-radius: 32px;
  margin-top: 48px;
  margin-bottom: 41px;
}

.send-button img {
  width: 24px;
  height: 24px;
}

.send-button span {
  font-weight: 700;
  font-size: 1.25rem;
  color: #fff;
}
